############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store

############
## JetBrains
############

.idea
.iws
.ipr

############
## Nodejs
############
node_modules
.node_modules

############
## Sass
############

# Sass Cache
.sass-cache

############
## docco?
############

-p/
